section.catalog-panel-discount
  h3.catalog-panel__subtitle.catalog-panel-discount__title Скидка
  form.catalog-panel-discount__form
    label.catalog-panel-discount__label.catalog-panel-category__checkbox
      input.catalog-panel-discount__input.catalog-panel-discount__input--hidden.catalog-panel-category__checkbox--hidden(type="radio" name="sale" data-mod="violet" data-name="от 5 000")
      span.catalog-panel-discount__input.catalog-panel-category__checkbox--visible
      |Более 5 000
    label.catalog-panel-discount__label.catalog-panel-category__checkbox
      input.catalog-panel-discount__input.catalog-panel-discount__input--hidden.catalog-panel-category__checkbox--hidden(type="radio" name="sale" data-mod="violet" data-name="до 5 000")
      span.catalog-panel-discount__input.catalog-panel-category__checkbox--visible
      |Менее 5 000
    label.catalog-panel-discount__label.catalog-panel-category__checkbox
      input.catalog-panel-discount__input.catalog-panel-discount__input--hidden.catalog-panel-category__checkbox--hidden(type="radio" name="sale" data-mod="violet" data-name="Без скидки" checked)
      span.catalog-panel-discount__input.catalog-panel-category__checkbox--visible
      |Не важно