section.catalog-panel-price
  h3.catalog-panel__subtitle.catalog-panel-price__title Цена
  form.catalog-panel-price__form
    label.catalog-panel-price__label
      span.catalog-panel-price__text от
      input#amount_from.catalog-panel-price__input.catalog-panel-price__input--from(type="text" placeholder="2000")
    label.catalog-panel-price__label
      span.catalog-panel-price__text до
      input#amount_to.catalog-panel-price__input.catalog-panel-price__input--to(type="text" placeholder="150 000")
    //- input.catalog-panel-price__range(type="range" min="2000" max="150000" step="1" value="2000")
  #slider-range