.tops {
  margin-bottom: 78px;

  &__title {
    @include titleMain;
    margin-bottom: 26px;
  }

  &__list {
    max-width: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 31px;
    list-style: none;
  }

  &__item {
    max-width: 100%;
    height: 100%;
  }

  &__item--big {
    grid-column: 1 / 3;
    height: 332px;
  }
}

.tops-article {
  $paddingLeftHead: 16px;
  @include greyBackground;
  position: relative;
  max-width: 100%;
  height: 100%;
  padding-top: 16px;
  padding-bottom: 12px;

  &--big {
    padding-top: 28px;
  }

  &__head {
    width: 100%;
    margin-bottom: 7px;

    &--big {
      margin-bottom: 13px;
    }
  }

  &__links {
    width: 100%;
    padding: 0 $paddingLeftHead;
    display: flex;
    // flex-wrap: wrap;
    list-style: none;
    font-size: 10px;
    color: $colorBackGrey;

    &--big {
      padding: 0 22px;
      justify-content: space-around;
      font-size: 14px;
    }

    &:not(.tops-article__links--big) {
      flex-direction: column;
    }
  }

  &__item:not(.tops-article__item--big) {
    font-size: calc(10px + (14 - 10) * ((100vw - 320px ) / (1200 - 320)));
  }

  &__link {
    &--big {
      @include textHiddenEllipsis(10ch, "ib");
    }
  }

  &-title {
    &--linked {
      @include titleMain;
      margin: 0;
      margin-bottom: 20px;
      padding-left: $paddingLeftHead;
      font-size: 16px;
      font-weight: normal;
    }

    &--big {
      @include titleMain;
      padding-left: 31px;
      font-size: 24px;
    }

    &__link {
      @include navListLink;
      @include svgArrowButton;
      position: relative;
      max-width: min-content;
      max-height: min-content;
      display: inline-flex;
      align-items: center;
      font-size: inherit;
      font-weight: inherit;
      fill: transparent;
      stroke: $colorPrimary;
      stroke-width: 2px;

      &:hover {
        color: $colorPrimary;
      }
    }

    &__icon {
      $transitionProp: color, fill, stroke;
      @include transition($transitionProp);
      position: absolute;
      top: -3px;
      right: -5px;
      width: 22px;
      height: 22px;
      display: inline-block;
      color: $colorPrimary;
      transform: translateX(100%);

      &--big {
        top: 3px;
        right: -4px;
      }

      &--long {
        top: unset;
        bottom: -4px;
      }
    }
  }

  &__picture {
    width: 100%;
    display: block;
    text-align: left;
  }

  &__img {
    max-width: 100%;
    // width: 100%;
  }

  &__img:not(.tops-article__img--big) {
    // max-width: 190px;
    width: 100%;
  }

  &__link {
    @include descListLink;
  }

  &-pass {
    display: none;
  }
}

@media (min-width: 768px) {
  .tops {
    margin-bottom: 71px;

    &__list {
      column-gap: 32px;
    }

    &__item {
      height: 511px;
    }
  }

  .tops-article {
    padding-top: 27px;
    padding-bottom: 30px;

    &-title {
      &--linked {
        margin-bottom: 40px;
        padding-left: 30px;
        font-size: 24px;
        white-space: nowrap;
      }

      &--big {
        margin-bottom: 35px;
        font-size: 24px;
      }

      &__icon {
        display: none;
      }
    }

    &__head {
      margin-bottom: 17px;

      &--big {
        margin-bottom: 13px;
      }
    }

    &__links {
      padding-left: 30px;
      justify-content: start;
      font-size: 14px;

      &--big {
        padding: 0 30px;
        justify-content: start;
      }

      &:not(.tops-article__links--big) {
        flex-direction: row;
      }
    }

    &__item {
      &:not(.tops-article__item--big) {
        font-size: inherit;
      }

      &:not(:last-child) {
        margin-right: 30px;
      }

      &--mr {
        margin-right: 43px;
      }
    }

    &__picture {
      margin-bottom: 31px;

      &--big {
        margin-bottom: 24px;
      }

      &--3 {
        max-width: 88%;
      }

      &--4 {
        max-width: 85.5%;
      }
      &--5 {
        max-width: 89.5%;
      }
    }

    &__img:not(.tops-article__img--big) {
      max-width: 100%;
    }

    &-pass {
      @include passLinkArrow;
      left: 30px;
    }
  }
}

@media (min-width: 1024px) {
  .tops {
    &__list {
      grid-template-columns: repeat(9, 1fr);
    }

    &__item {
      &:first-child {
        height: 511px;
        grid-column: 1 / 7;
        grid-row: 1;
      }

      &:nth-child(2) {
        grid-column: 7 / 10;
        grid-row: 1;
      }

      &:nth-child(3) {
        grid-column: 4 / 7;
        grid-row: 2;
      }

      &:nth-child(4) {
        grid-column: 1 / 4;
        grid-row: 2;
      }

      &:nth-child(5) {
        grid-column: 7 / 10;
        grid-row: 2;
      }
    }
  }
  .tops-article {
    &__picture--big {
      margin-bottom: 22px;
    }
  }
}

@media (min-width: 1300px) {
  .tops {
    &__title {
      margin-bottom: 25px;
    }
    &__list {
      grid-template-columns: repeat(12, 1fr);
    }

    &__item {
      height: 405px;

      &:first-child {
        height: 511px;
        grid-column: 1 / 7;
        grid-row: 1;
      }

      &:nth-child(2) {
        grid-column: 1 / 5;
        grid-row: 2;
      }

      &:nth-child(3) {
        height: 511px;
        grid-column: 7 / 13;
        grid-row: 1;
      }

      &:nth-child(4) {
        grid-column: 5 / 9;
        grid-row: 2;
      }

      &:nth-child(5) {
        grid-column: 9 / 13;
        grid-row: 2;
      }
    }
  }

  .tops-article {
    &-title--linked {
      margin-bottom: 33px;
    }
    &__item--mr:not(:last-child) {
      margin-right: 43px;
    }
    &__picture {
      margin-bottom: 27px;

      &--2 {
        max-width: 76%;
      }

      &--3 {
        max-width: 83%;
      }

      &--4 {
        max-width: 82%;
      }

      &--5 {
        max-width: 64%;
      }
    }
  }
}
