extends layout/main

block styles
  link(rel="stylesheet" href="css/cooperation.css")

block scripts

block content
  include layout/mixins
  include layout/variables

  section.cooperation.container
    .breadcrumbs
      ul.breadcrumbs__list
        li.breadcrumbs__item
          a.breadcrumbs__link(href="#") Главная
        li.breadcrumbs__item
          a.breadcrumbs__link.breadcrumbs__link--active(href="#") Сотрудничество
    h2.cooperation__title Сотрудничество
    h3.cooperation__subtitle Поставщикам
    p.cooperation__description При планировании обстановки торгового помещения важно обустроить его с комфортом для покупателей: грамотно зонировать, обеспечить эффективную демонстрацию и хранение товаров в зале. Если вам необходимо комплексное оснащение, организация зоны отдыха или отдельные предметы меблировки для поддержания эффективной торговой деятельности, мы поможем выбрать продукцию с учетом нагрузки от поступающего трафика.
    h3.cooperation__subtitle Что вы получаете?
    ul.cooperation__ul
      li.cooperation__item.cooperation__item--not-ordered.cooperation__item--1 Мы ценим идеи и вдохновение и предлагаем сотрудничество талантливым дизайнерам и архитекторам. Выпускаемая нами продукция гармонично дополнит любой современный проект.
      li.cooperation__item.cooperation__item--not-ordered.cooperation__item--2 Комплексное решение для красивого и функционального обустройства любых пространств.
      li.cooperation__item.cooperation__item--not-ordered.cooperation__item--3 В ассортименте представлены все товарные группы для того, чтобы воссоздать обстановку в помещениях разных типов: кабинетах, смешанных пространствах, Open Space, гостевых и переговорных комнатах.
    h4.cooperation__advantages-title Ваши преимущества от сотрудничества
    h3.cooperation__subtitle.cooperation__subtitle--colored Возможность 1:
    p.cooperation__opportunity Создавайте незабываемые впечатления. Красиво меблированная фотостудия не оставит клиентов равнодушными, а созданная интерьером атмосфера будет надолго запечатлена на их снимках. Стильная и разноплановая обстановка творческого пространства – ключевая составляющая его успешной деятельности. Позаботьтесь о людях в кадре, а мы поможем правильно выбрать мебель.
    h3.cooperation__subtitle.cooperation__subtitle--colored Возможность 2:
    p.cooperation__opportunity.cooperation__opportunity--last Мы предлагаем застройщикам, работающим на территории РФ, участие наших специалистов от этапа проектирования обстановки квартир и подбора комплексных интерьерных решений до оптовых поставок мебели. Поможем организовать демонстрационный зал с образцами изделий и материалов на площади нового здания, чтобы покупатель заблаговременно подобрал тот вариант меблировки, который удовлетворит даже самые взыскательные ожидания.
    h3.cooperation__subtitle.cooperation__subtitle--guarantee Гарантии
    ul.cooperation__ol
      li.cooperation__item.cooperation__item--ordered
        span.ol-order 1.
        |При приемке товара Покупатель должен внимательно проверить его количество, качество и ассортимент на соответствие сопроводительным документам и заказу. После подписания товарного чека Покупатель утрачивает право предъявления претензий, которые можно выявить при приемке товара.
      li.cooperation__item.cooperation__item--ordered
        span.ol-order 2.
        |На товары, сборка которых производилась покупателем самостоятельно (не специалистами Продавца), гарантийные обязательства Продавца не распространяются. Также гарантия не распространяется на повреждения товара, полученные в ходе самостоятельной доставки и подъема товара. Покупатель не вправе отказаться от товара надлежащего качества, имеющего индивидуально-определенные свойства, т.е. если товар может быть использован исключительно приобретающим его потребителем.
      li.cooperation__item.cooperation__item--ordered
        span.ol-order 3.
        |Возврат или обмен товара возможен при условии, что сохранена упаковка, товарный вид и потребительские свойства товара, а также товарный и кассовый чеки. В этом случае мы гарантируем вам возврат полной стоимости товара (за вычетом стоимости доставки). В случае отказа от товара при доставке, клиент оплачивает услуги доставки.
    p.cooperation__guarantee-info Срок гарантии на нашу мебель составляет от 18 до 60 месяцев