-
  var sizesVar = '(max-width: 567px) 290px, (min-width: 568px) and (max-width: 767px) 568px, (min-width: 768px) and (max-width: 1023px) 668px, (min-width: 1024px) and (max-width: 1779px) 437px, 8770px';

  //- -var sizesVar = '(max-width: 567px) 290px,
  //-                (min-width: 568px) and (max-width: 767px) 568px,
  //-                (min-width: 768px) and (max-width: 1023px) 668px,
  //-                (min-width: 1024px) and (max-width: 1779px) 437px,
  //-                8770px';

  var socials = [
    { id: 'fb', href: '#', ariaLabel: 'Фэйсбук'},
    { id: 'vk', href: '#', ariaLabel: 'В контакте'},
    { id: 'instagram', href: '#', ariaLabel: 'Инстаграмм'},
  ];
  var breakPointsFull = [
    1300,
    1024,
    768,
    320,
  ];